<!-- still need to finish add the links to pages for both nav areas and
then work on dashboard only goes to signup if not signed in-->


<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: isHandset$ | async}" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async)!.matches ? 'over' : 'side'" [opened]="(isHandset$ | async)!.matches">
    <mat-toolbar color="primary">site guide</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-menu-item [matMenuTriggerFor]="dashboard">Dashboard</a>
      <a mat-list-item routerLink="/login">Login</a>
      <a mat-list-item routerLink="/signup">signup</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="header">
      <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>


        <span class="header-spacer"></span>
        <mat-icon class="menu-icon header-large-menu" [matMenuTriggerFor]="menu">menu</mat-icon>
      </mat-toolbar-row>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">home</button>
        <button mat-menu-item [matMenuTriggerFor]="dashboard">Dashboard</button>
        <mat-menu #dashboard="matMenu">
          <button mat-menu-item routerLink="dashboard">Dashboard Home</button>
          <button mat-menu-item routerLink="">Profile</button>
          <button mat-menu-item routerLink="">input</button>
          <button mat-menu-item routerLink="">calender</button>
          <button mat-menu-item routerLink="">records</button>
        </mat-menu>
        <button mat-menu-item routerLink="workoutplan">workout plan</button>
        <button mat-menu-item routerLink="">Contact Page</button>
      </mat-menu>
    </mat-toolbar>

    <!-- Add Content Here -->
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
