<mat-toolbar class="header">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span class="example-spacer">4 week revolution</span>
    <mat-icon class="menu-icon" [matMenuTriggerFor]="menu">menu</mat-icon>
  </mat-toolbar-row>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="dashboard">Dashboard</button>
    <mat-menu #dashboard="matMenu">
      <button mat-menu-item>4 Week Rovolution</button>
      <button mat-menu-item>Contact Page</button>
    </mat-menu>
    <button mat-menu-item>4 Week Rovolution</button>
    <button mat-menu-item>Contact Page</button>
  </mat-menu>
</mat-toolbar>
