<div class="wrapper">
  <div class="page-header">
    <img src="/src/app/assets/images/SITE-ICON-WHITE.png" />
    <h1>WORKOUT PLAN</h1>
  </div>

  <div class="box">
    <div class="box-nav">


      <div class="row">
        <!-- this is where i want a nav scroll 
        that will take the user to each week 
      WEEK 1
        --Day 1 Legs
        --Day 2 Chest
      
      -->
        <h4>workout guide</h4>
        <mat-form-field>
          <mat-select matNativeControl required>

            <mat-option *ngFor="let day of days" [value]="day">{{day}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">

        <!-- this is where the workout will go -->
        <app-day></app-day>
      </div>
    </div>
  </div>
</div>
