<div class="homePage">
  <img src="/src/app/assets/images/SITE-ICON-WHITE.png" />
  <div class="opening-message">
    <h1 class="message">Welcome to Four Week Revolution</h1>
    <h3 class="message">This is a premier four week training program</h3>
    <h3 class="message">for fat loss or muscle building with a </h3>
    <h3 class="message">with a full four week setup plan </h3>
    <ul>
      <li><a routerLink="/workoutplan">go straight to weekly program</a></li>
      <li><a routerLink="/dashboard">build your custom dashboard</a></li>

    </ul>
  </div>
</div>
